$primary: #212121;
$secondary: #484848;
$black: #000;
$black3: #333;
$gray2: #f5f5f6;
$gray1: #e1e2e1;
$white: #fff;
$red: #ff6358;
$lightblue: #28b4c8;
//  *FONT SIZE*
$title0: 36px;
$title1: 30px;
$title2: 18px;
$title3: 16px;
$title4: 14px;
$title5: 12px;
$title20: 20px;
$roboto-regular: 500;
